!!!Strict
%html
  %head
    %title
    %link{ :href => "/stylesheets/sass/screen.css", :media => "screen, projection", :rel => "stylesheet", :type => "text/css"}
    <script src="/javascripts/cufon.js" type="text/javascript"></script>
    <script src="/javascripts/Qlassik_Medium_500.font.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <script src="/javascripts/site.js" type="text/javascript"></script>
    <script type="text/javascript">
    Cufon.replace('h2');
    Cufon.replace('h3');
    </script>
  %body{ :class => (body_class rescue nil) }
    #header_wrapper
      #header.container
        = link_to "<img src='/images/chromium.png' alt='Chromium 53'/>", '/'
        %ul
          %li.first= link_to 'Home',     '/'
          %li=       link_to 'Our Work', '/work' 
          %li=       link_to 'Labs',     '/labs'
          %li=       link_to 'Blog',     '/blog'
          %li.last=  link_to 'Contact',  '/contact'
    = yield
    %script{ :src => "http://static.getclicky.com/72588.js", :type => "text/javascript" }
